# Ignore all __pycache__ directories and their contents
__pycache__/
# Ignore Python compiled files
*.pyc
*.pyo
.git

# Ignore error files, and prediction files
**/errors/
**/predictions/
**/losses.npy

example_trajectories/**/
